.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: auto;
  max-height: 1000px;
  background: black;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.loading {
  font-size: 20px;
}

.error {
  color: red;
  font-size: 20px;
}

.csv-container{
  max-height: 80vh;
  width: 90vw;
  overflow-y: auto;
}
